alias sites='cd ~/Sites/'
alias repos='cd ~/Repos/'
alias desk='cd ~/Desktop/'
alias dl='cd ~/Downloads/'
alias Lib='cd /Library/'
alias lib='cd ~/Library/'
alias vol='cd ~/Volumes/'
alias Vol='cd /Volumes/'
alias Supp='cd /Library/Application\ Support/'
alias supp='cd ~/Library/Application\ Support/'
alias Prefs='cd /Library/Preferences/'
alias prefs='cd ~/Library/Preferences/'
alias st3='cd ~/Library/Application\ Support/Sublime\ Text\ 3/'
alias dot="cd $DOTFILES"

# misc
alias st="stree"
alias profile="$EDITOR_BIN -n $DOTFILES $ZSH"
alias hosts="$EDITOR_BIN -n /etc/hosts"
alias myip="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | cut -d\   -f2"
alias rake='noglob rake' # https://github.com/robbyrussell/oh-my-zsh/issues/433
alias startpg="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias lll="stat -c '%A %a %n' *"

# git
alias pullall="git submodule foreach git pull origin master"
alias giti="$EDITOR_BIN .gitignore"
alias gitc="$EDITOR_BIN .git/config"
alias gith="$EDITOR_BIN .git/hooks"
alias gitm="$EDITOR_BIN .gitmodules"
alias push\?="git cherry -v origin"
alias gitme="git log --author $(whoami) --since '2 weeks ago' --pretty='format:%C(cyan)%h%Cgreen %ad %C(yellow)%an %Creset%s'"

# cap
alias capd='cap deploy'
alias capdc='capd -S composer_method=install'

# rsync
alias rsync-copy="rsync -av --progress -h"
alias rsync-move="rsync -av --progress -h --remove-source-files"
alias rsync-update="rsync -avu --progress -h"
alias rsync-synchronize="rsync -avu --delete --progress -h"
