"*":
  "exception-reporting":
    userId: "a81d3f92-6afc-f1c5-de14-271b6cb3b1ac"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "linter-csslint"
      "auto-update-packages"
      "git-plus"
      "indent-toggle-on-paste"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "php-cs-fixer"
    ]
    customFileTypes:
      "source.js.jsx": [
        "js"
        "jsx"
      ]
    openEmptyEditorOnStart: false
    projectHome: "/users/timkelty/Repos"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    excludeVcsIgnoredPaths: false
  linter:
    errorPanelHeight: 118
    lintOnFlyInterval: 800
    showErrorInline: false
    lintOnFly: false
  "merge-conflicts": {}
  "tree-view":
    hideIgnoredNames: true
  "linter-htmlhint": {}
  "atom-alignment": {}
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "linter-jscs":
    esnext: true
    displayAs: "warning"
  "linter-php": {}
  "atom-beautify":
    _analyticsUserId: "669b6009-2062-4589-8996-5aaccb1f8ed0"
    html_wrap_attributes: "force"
  editor:
    invisibles: {}
  "js-autoimport": {}
  blame: {}
  "git-blame":
    columnWidth: 300
  tabs:
    usePreviewTabs: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  emmet: {}
  "close-tags": {}
  "emmet-simplified": {}
  "linter-phpcs":
    executablePath: "/usr/local/bin/phpcs"
  "language-babel": {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "auto-update-packages": {}
  "autohide-tree-view": {}
  "goto-scope": {}
  "markdown-preview-plus": {}
  "markdown-preview": {}
  "jscs-fixer":
    esprima: true
